@page "/worktable"
@inject HttpClient Http
@inject NavigationManager Navigation
@using System.ComponentModel.DataAnnotations;
@using System.ComponentModel;
@using Models;
@using Data;

<PageTitle>Felvett munkák</PageTitle>

<h1>Felvett munkák</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Car type and license plate number</th>
            <th>Year of manufacture</th>
            <th>Work type</th>
            <th>Problem description</th>
            <th>How bad is it</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            
    @foreach (var work in workFlow)
    {
        <tr>
            <td>@work.ClientFirstName @work.ClientLastName</td>
            <td>@work.CarType @work.LicencePlateNumber</td>
            <td>@work.ManufactureYear</td>
            <td>@work.WorkCatagory</td>
            <td>@work.Description</td>
            <td>@work.IssueSeriousness</td>
            <td><button>Edit</button></td>
        </tr>
    }
    </tbody>
</table>


@code {
    private Workflow[]? workFlow = new Workflow[0];

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.PostAsJsonAsync(GlobalStaticVariables.apiurl + "/GetWorkflows", new { });
        workFlow = await response.Content.ReadFromJsonAsync<Workflow[]>();
    }

    /*
    private void EditRow(int id)
    {
        //Index.OnEditRowAsync(id);
        //Navigation.NavigateTo("");
    }
    */
}
