@page "/"
@inject HttpClient Http
@using Models
@using Data


<PageTitle>Job Status</PageTitle>

<h1>Job Status</h1>

@if (jobs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <td @onclick=@(e=>SortColumn(e,0))>@attributeManager.attribute[0].show()</td>
                <td @onclick=@(e=>SortColumn(e,1))>@attributeManager.attribute[1].show()</td>
                <td @onclick=@(e=>SortColumn(e,2))>@attributeManager.attribute[2].show()</td>
                <td @onclick=@(e=>SortColumn(e,3))>@attributeManager.attribute[3].show()</td>
                <td @onclick=@(e=>SortColumn(e,4))>@attributeManager.attribute[4].show()</td>
                <td @onclick=@(e=>SortColumn(e,5))>@attributeManager.attribute[5].show()</td>
                <td @onclick=@(e=>SortColumn(e,6))>@attributeManager.attribute[6].show()</td>
                <td @onclick=@(e=>SortColumn(e,7))>@attributeManager.attribute[7].show()</td>
                <td @onclick=@(e=>SortColumn(e,8))>@attributeManager.attribute[8].show()</td>
                <td @onclick=@(e=>SortColumn(e,9))>@attributeManager.attribute[9].show()</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in jobs)
            {
                <tr>
                    <td>@job.ClientFirstName</td>
                    <td>@job.ClientLastName</td>
                    <td>@job.CarType</td>
                    <td>@job.LicencePlateNumber</td>
                    <td>@job.ManuFactureYear</td>
                    <td>@job.WorkCatagory</td>
                    <td>@job.Description</td>
                    <td>@job.IssueSeriousness</td>
                    <td>@job.CreatedDate</td>
                    <button class="btn btn-info" @onclick=@(e=>ProceedWorkStatus(e,job))>@job.WorkStatus</button>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private Workflow[]? jobs;
    private int[] sortButtonIndicator = new int[10];
    private string activeSortButton = "None";
    private int activeSortButtonNumber = 0;
    private bool sortIncreasing = true;

    private AttributeManager attributeManager = new AttributeManager();

    protected override async Task OnInitializedAsync()
    {
        await getDataFromDatabase(10, "ClientFirstName", true);
    }

    private async Task getDataFromDatabase(int pageSize_, string orderField_, bool orderDescend_)
    {
        var response = await Http.PostAsJsonAsync(GlobalStaticVariables.apiURL + "/GetWorkflows", new { PageSize = pageSize_, OrderField = orderField_, OrderDescend = orderDescend_ });
        jobs = await response.Content.ReadFromJsonAsync<Workflow[]>();
    }

    private void ProceedWorkStatus(MouseEventArgs e, Workflow job)
    {
        if(job.WorkStatus != Enums.WorkStatus.DONE) job.WorkStatus++;
        //TODO: Change WorkStatus
    }

    private async Task SortColumn(MouseEventArgs e, int bId)
    {
        if(attributeManager.activeAttributeId == bId)
        {
            if(attributeManager.attribute[bId].getSortIndicator() == 1) attributeManager.attribute[bId].setSortIndicator(2);
            else attributeManager.attribute[bId].setSortIndicator(1);
        }
        else
        {
            attributeManager.attribute[attributeManager.activeAttributeId].setSortIndicator(0);
            attributeManager.attribute[bId].setSortIndicator(1);
            attributeManager.activeAttributeId = bId;
        }
        await getDataFromDatabase(10,attributeManager.getActiveVariableName(),attributeManager.getActiveDescending());
    }

    private string IndicatorInterpreter(int indicatorNumber)
    {
        if (indicatorNumber == 0) return "-";
        else if (indicatorNumber == 1) return "^";
        else return "ˇ";
    }

    public class AttributeManager
    {
        public class Attribute
        {
            private string fieldName;
            private string variableName;
            private int sortIndicator = 0; //0-NoSort 1-Increase 2-Decrease

            public Attribute(string fieldName_, string variableName_)
            {
                fieldName = fieldName_;
                variableName = variableName_;
            }

            //Van jobb mód a getterek és setterekre?
            public string getFieldName() { return fieldName; }
            public void setFieldName(string value) { fieldName = value; }
            public string getVariableName() { return variableName; }
            public void setVariableName(string value) { variableName = value; }
            public int getSortIndicator() { return sortIndicator; }
            public void setSortIndicator(int value) { sortIndicator = value; }

            public string getSimbol()
            {
                if (sortIndicator == 0) return "-";
                else if (sortIndicator == 1) return "^";
                else return "ˇ";
            }

            public string show()
            {
                return getFieldName() + getSimbol();
            }
        }

        public Attribute[] attribute = new Attribute[10];

        public AttributeManager()
        {
            attribute[0] = new Attribute("Client First Name", "ClientFirstName");
            attribute[1] = new Attribute("Client Last Name", "ClientLastName");
            attribute[2] = new Attribute("Car Type", "CarType");
            attribute[3] = new Attribute("Licence Plate Number", "LicencePlateNumber");
            attribute[4] = new Attribute("Manufacture Year", "ManufactureYear");
            attribute[5] = new Attribute("Work Catagory", "WorkCatagory");
            attribute[6] = new Attribute("Description", "Description");
            attribute[7] = new Attribute("Issue Seriousness", "IssueSeriousness");
            attribute[8] = new Attribute("Created Date", "CreatedDate");
            attribute[9] = new Attribute("Work Status", "WorkStatus");

            attribute[0].setSortIndicator(1);
        }

        public int activeAttributeId = 0;

        public string getActiveVariableName()
        {
            return attribute[activeAttributeId].getVariableName();
        }
        public bool getActiveDescending()
        {
            if (attribute[activeAttributeId].getSortIndicator() == 1) return true;
            else return false;
        }
    }
}
