@page "/"
@inject HttpClient Http
@using Models
@using Data
@using Managers
@using Enums
@using System.Collections.Generic;

<PageTitle>Job Status</PageTitle>

<h1>Job Status</h1>

@if (jobs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th @onclick=@(e=>SortColumn(e,0))>@attributeManager.attribute[0].show()</th>
                <th @onclick=@(e=>SortColumn(e,1))>@attributeManager.attribute[1].show()</th>
                <th @onclick=@(e=>SortColumn(e,2))>@attributeManager.attribute[2].show()</th>
                <th @onclick=@(e=>SortColumn(e,3))>@attributeManager.attribute[3].show()</th>
                <th @onclick=@(e=>SortColumn(e,4))>@attributeManager.attribute[4].show()</th>
                <th @onclick=@(e=>SortColumn(e,5))>@attributeManager.attribute[5].show()</th>
                <th @onclick=@(e=>SortColumn(e,6))>@attributeManager.attribute[6].show()</th>
                <th @onclick=@(e=>SortColumn(e,7))>@attributeManager.attribute[7].show()</th>
                <th @onclick=@(e=>SortColumn(e,8))>@attributeManager.attribute[8].show()</th>
                <th @onclick=@(e=>SortColumn(e,9))>@attributeManager.attribute[9].show()</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in jobs)
            {
                <tr>
                    <td>@job.ClientFirstName</td>
                    <td>@job.ClientLastName</td>
                    <td>@job.CarType</td>
                    <td>@job.LicencePlateNumber</td>
                    <td>@job.ManuFactureYear</td>
                    <td>@job.WorkCatagory</td>
                    <td @onclick=@(e=>clickOnDescription(e,job.WorkflowId))>@textShortener(job.WorkflowId,job.Description)</td>
                    <td>@job.IssueSeriousness</td>
                    <td>@job.CreatedDate</td>
                    <button class="btn btn-info" @onclick=@(e=>ProceedWorkStatus(e,job))>@job.WorkStatus</button>
                </tr>
            }
            
        </tbody>
    </table>
    <table class="options">
        <thead>
            <tr>
                <td>
                    <label for="pageSizeDropdown">Page Size:</label>
                    <select id="pageSizeDropdown" name="pageSizeDropdown" onchange="@((ChangeEventArgs e) => pageManager.setPageSize(e.Value.ToString(),async ()=>{ await getDataFromDatabase(); }))">
                        <option value="5">5</option>
                        <option value="10" selected>10</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                    </select>
                </td>
                <td> <button class="btn btn-primary" @onclick=@(e=>pageManager.changePage(e,-1,async ()=>{ await getDataFromDatabase(); }))> Back </button> </td>
                <td> @pageManager.showPageCount() </td>
                <td> <button class="btn btn-primary" @onclick=@(e=>pageManager.changePage(e, 1,async ()=>{ await getDataFromDatabase(); }))> Next </button> </td>
            </tr>
        </thead>
    </table>
}

@code {
    private Workflow[]? jobs;
    private AttributeManager attributeManager = new AttributeManager();
    private PageManager pageManager = new PageManager();
    private int selectedDescription = -1;


    protected override async Task OnInitializedAsync()
    {
        await getDataFromDatabase();
        pageManager.maxElement = await Http.GetFromJsonAsync<int>(GlobalStaticVariables.apiURL + "/GetWorkflowSize");
        pageManager.calcMaxPage();
    }

    protected async Task getDataFromDatabase()
    {
        var response = await Http.PostAsJsonAsync(GlobalStaticVariables.apiURL + "/GetWorkflows", new { PageSize = pageManager.pageSize, PageNumber = pageManager.currentPage, OrderField = attributeManager.getActiveVariableName(), OrderDescand = attributeManager.getActiveDescending() });
        jobs = await response.Content.ReadFromJsonAsync<Workflow[]>();
    }

    private async Task ProceedWorkStatus(MouseEventArgs e, Workflow job)
    {
        if(job.WorkStatus != Enums.WorkStatus.DONE) job.WorkStatus++;

        await Http.PutAsJsonAsync(GlobalStaticVariables.apiURL + "/UpdateStatus/" + job.WorkflowId, new { });
    }

    private async Task SortColumn(MouseEventArgs e, int bId)
    {
        if(attributeManager.activeAttributeId == bId)
        {
            if(attributeManager.attribute[bId].getSortIndicator() == 1) attributeManager.attribute[bId].setSortIndicator(2);
            else attributeManager.attribute[bId].setSortIndicator(1);
        }
        else
        {
            attributeManager.attribute[attributeManager.activeAttributeId].setSortIndicator(0);
            attributeManager.attribute[bId].setSortIndicator(1);
            attributeManager.activeAttributeId = bId;
        }
        await getDataFromDatabase();
    }

    private string textShortener(int id,string text)
    {
        if (selectedDescription != id && text.Length > 20)
        {
            text = text.Substring(0, 20);
            text = text + "...";
        }
        return text;
    }

    private void clickOnDescription(MouseEventArgs e, int id)
    {
        if (selectedDescription == id) selectedDescription = -1;
        else selectedDescription = id;
    }


    class PageManager
    {
        public int maxElement { get; set; }
        public int maxPage { get; set; }
        public int currentPage { get; set; }
        public int pageSize { get; set; }


        public PageManager(){
            pageSize = 10;
            currentPage = 1;
        }

        public void calcMaxPage()
        {
            maxPage = maxElement / pageSize;
            currentPage = 1;
        }

        public async Task changePage(MouseEventArgs e,int change, Func<Task> callback)
        {
            if (currentPage + change >= 1 && currentPage + change <= maxPage) currentPage += change;
            await callback();
        }

        public string showPageCount()
        {
            return currentPage + " / " + maxPage;
        }

        public async Task setPageSize(string value, Func<Task> callback)
        {
            pageSize = int.Parse(value);
            calcMaxPage();
            await callback();
        }
    }
}
